$border-style: 1px solid rgb(196 196 196 / 50%);

.menuItemBorder {
  border-bottom: $border-style;
}

.shopIssue {
  .issueItem {
    border-bottom: $border-style;

    &--active {
      background: #e5e5e5;
    }
  }
}

.shopTitle {
  height: 56px;
}

.shopList {
  .shopItem {
    border-bottom: $border-style;

    &__avatar {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
