.userAction {
  &__item {
    border-radius: 14px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.action {
  &__item {
    border-radius: 20px;
    background: #dbdbdb;
    color: inherit;
    border: #dbdbdb;
    width: 100px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
